streamlit
tensorflow
Pillow
numpy
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-classic
sentence-transformers
faiss
tqdm
requests
